# Question 1

Consider the following Python module:
a = 0 
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated?
Explain your Banswer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
print(a)

6

For the first iteration func b() calls fucn c(a)
as in the first iteration global vlaue of a is 0 fucntion c perform
c(a)= 0+2
and makes the a= 2 and as it is global it update a variable outside of function

for seconnd iteration of b() we have a=2
so c(a)=2+2
which makes a=4

for third iteraetion of b() we have a=4
so c(a)=4+2
so a=6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py') 
284
>>> fileLength('idterm.py') 
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module> 
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength 
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py') 
358
>>> fileLength('idterm.py') 
File idterm.py not found.

In [8]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")
file_length('example_module.py')
file_length('idterm.py')

1035
File idterm.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents() 
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [9]:
class Marsupial:
    def __init__(s):
        s.p = []
    def put(s, item):
        s.p.append(item)
    def cont(s):
        return s.p
class Kangaroo(Marsupial):
    def __init__(s, x, y):
        super().__init__()
        s.x = x
        s.y = y
    def jump(s, dx, dy):
        s.x += dx
        s.y += dy
    def __str__(s):
        return f"I am a Kangaroo located at coordinates ({s.x},{s.y})"

m = Marsupial()
m.put('doll')
m.put('firetruck')
m.put('kitten')
print(m.cont())
k = Kangaroo(0,0)
print(k)
k.put('doll')
k.put('firetruck')
k.put('kitten')
print(k.cont())
k.jump(2,3)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (2,3)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논
+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [11]:
def collatz(x):
    print(x)
    if x == 1:
            return
    if x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3*x + 1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [26]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

In [27]:

binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document.Each heading should be indented asfollows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content) 
W3C Mission 
Principles

In [28]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and tag[1].isdigit():
            self.indentation = int(tag[1]) - 1

    def handle_data(self, data):
        if data.strip():
            heading = " " * self.indentation + data.strip()
            self.headings.append(heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)

parser = HeadingParser()

with open("w3c.html") as f:
    for line in f:
        parser.feed(line)

parser.print_headings()

Changed
W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

In [35]:
from urllib import request
from urllib.parse import urlparse
from urllib.error import HTTPError
from html.parser import HTMLParser

def webdir(url, depth, indent):
    print(' '*indent + url)
    if depth == 0:
        return
    parsed_url = urlparse(url)
    domain = parsed_url.netloc
    path = parsed_url.path
    visited_urls.add(url)
    try:
        with request.urlopen(url) as response:
            content = response.read().decode()
    except HTTPError:
        return
    parser = LinkParser()
    parser.feed(content)
    for link in parser.links:
        if link.startswith('http') and link not in visited_urls:
            parsed_link = urlparse(link)
            if parsed_link.netloc == domain and parsed_link.path != path:
                webdir(link, depth-1, indent+4)
class LinkParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])
visited_urls = set()
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html%27', 2, 0)
webdir('https://www.w3schools.com',4, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html%27
https://www.w3schools.com
    https://www.w3schools.com/videos/index.php
        https://www.w3schools.com/spaces
        https://www.w3schools.com/about/about_privacy.asp
            https://www.w3schools.com/spaces/
        https://www.w3schools.com/about/about_copyright.asp
    https://www.w3schools.com/spaces/index.html

# Question 8

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [37]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('city_weathertest.db')

conn.execute('''CREATE TABLE weather
             (City TEXT,
              Country TEXT,
              Season TEXT,
              Temperature REAL,
              Rainfall REAL);''')

conn.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
conn.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
conn.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
conn.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
conn.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
conn.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
conn.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
conn.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
conn.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
conn.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
conn.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
conn.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
conn.commit()
conn.close()

In [52]:
conn = sqlite3.connect('city_weathertest.db')

df_a = pd.read_sql_query("SELECT Temperature FROM weather", conn)
print("All temperature data:\n", df_a)

df_b = pd.read_sql_query("SELECT DISTINCT City FROM weather", conn)
print("\nAll cities, without repetition:\n", df_b)


df_c = pd.read_sql_query("SELECT * FROM weather WHERE Country='India'", conn)
print("\nAll records for India:\n", df_c)

df_d = pd.read_sql_query("SELECT * FROM weather WHERE Season='Fall'", conn)
print("\nAll Fall records:\n", df_d)

df_e = pd.read_sql_query("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400", conn)
print("\nCity, Country, and Season with average rainfall between 200 and 400 millimeters:\n", df_e)

df_f = pd.read_sql_query("SELECT City, Country FROM weather WHERE Season='Fall' AND Temperature > 20 ORDER BY Temperature ASC", conn)
print("\nCity and Country with average Fall temperature above 20 degrees, in increasing temperature order:\n",df_f)

df_g = pd.read_sql_query("SELECT SUM(Rainfall) FROM weather WHERE City='Cairo'", conn)
print("\nTotal annual rainfall for Cairo:\n",df_g)

df_h = pd.read_sql_query("SELECT Season, SUM(Rainfall) FROM weather GROUP BY Season", conn)
print("\nTotal rainfall for each season:",df_h)

All temperature data:
     Temperature
0          24.8
1          28.4
2          27.9
3          27.6
4           4.2
5           8.3
6          15.7
7          10.4
8          13.6
9          20.7
10         27.7
11         22.2

All cities, without repetition:
      City
0  Mumbai
1  London
2   Cairo

All records for India:
      City Country  Season  Temperature  Rainfall
0  Mumbai   India  Winter         24.8       5.9
1  Mumbai   India  Spring         28.4      16.2
2  Mumbai   India  Summer         27.9    1549.4
3  Mumbai   India    Fall         27.6     346.0

All Fall records:
      City         Country Season  Temperature  Rainfall
0  Mumbai           India   Fall         27.6     346.0
1  London  United Kingdom   Fall         10.4     218.5
2   Cairo           Egypt   Fall         22.2       4.5

City, Country, and Season with average rainfall between 200 and 400 millimeters:
      City         Country  Season
0  Mumbai           India    Fall
1  London  United Kingdom  Winter
2  London  United Kingdom    Fall

City and Country with average Fall temperature above 20 degrees, in increasing temperature order:
      City Country
0   Cairo   Egypt
1  Mumbai   India

Total annual rainfall for Cairo:
    SUM(Rainfall)
0           27.6

Total rainfall for each season:    Season  SUM(Rainfall)
0    Fall          569.0
1  Spring          192.3
2  Summer         1706.5
3  Winter          230.1

# Question 9

Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']


Write list comprehension expressions that use list words and generate the following
lists:


a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [53]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)
lowercase_words = [word.lower() for word in words]
print(lowercase_words)
word_lengths = [len(word) for word in words]
print(word_lengths)
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']